@font-face {
  font-family: "AureBesh";
  src: url("../public/assets/Font/Aurebesh.otf") format("truetype");
}

@font-face {
  font-family: "StarWars";
  src: url("../public/assets/Font/Starjedi.ttf") format("truetype");
}

body.aurebesh,
body.aurebesh * {
  font-family: "AureBesh", sans-serif !important;
}

body {
  background-size: contain;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  transition: background ease 0.3s;
}
body[data-theme="light"] {
  background-image: url("../public/assets/Background/LightBG.jpeg");
}
body[data-theme="dark"] {
  background-image: url("../public/assets/Background/DarkBG.jpeg");
}
