@font-face {
  font-family: "StarWars";
  src: url("../assets/Font/Starjedi.ttf") format("truetype");
}

.game-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0px;
}

.game-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body[data-theme="dark"] .game-grid-container {
  background-color: #1a1a1a;
}
body[data-theme="light"] .game-grid-container {
  background-color: #fff;
}

.controls-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.game-controls {
  display: flex;
  width: 90%;
  gap: 20px;
  font-size: 20px;
  font-family: "StarWars";
}

.reload-btn {
  margin-right: 15px;
  border-radius: 30px;
  font-size: 19px;
  border: none;
  padding: 6px;
  width: 36px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body[data-theme="light"] .reload-btn {
  color: white;
  background: #1a1a1a;
}
body[data-theme="dark"] .reload-btn {
  color: #1a1a1a;
  background: gold;
}

body[data-theme="light"] .game-controls {
  color: black;
}

body[data-theme="dark"] .game-controls {
  color: gold;
}

body[data-theme="light"] .language-select {
  color: black;
  border: 2px solid #000000;
}

.language-select {
  background: none;
  border: 2px solid gold;
  color: gold;
  padding: 4px 8px;
  border-radius: 8px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 15px;
  font-family: "StarWars";
}

.language-select:hover {
  background: gold;
  color: black;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: repeat(4, 180px);
  gap: 10px;
  margin: 15px 0;
  position: relative;
  padding: 10px;

  border-radius: 10px;
}

body[data-theme="dark"] .game-grid {
  background-color: #0d0d0d;
}

body[data-theme="light"] .game-grid {
  background-color: #cfcfcf;
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.start-button {
  display: flex;
  padding: 12px 24px 17px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-image: url("../../assets/Background/ButtonBG.jpg");
  box-shadow: 0 0 15px #00000000;
  border: 3px solid #ffcc00;
  font-family: "StarWars", sans-serif;
  -webkit-text-stroke: 2px #ffcc00;
  color: #000000;
  font-size: 37px;
  letter-spacing: 5px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  animation: StarsScroll 20s infinite linear;
}

.start-button:disabled {
  cursor: not-allowed;
}

.start-button:hover {
  color: #ffea00;
}

@keyframes StarsScroll {
  from {
    background-position: right bottom;
  }
  to {
    background-position: left top;
  }
}

.start-warning {
  color: #ffcc00;
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-family: "StarWars";
  animation: Flash 2s infinite ease-in-out;
  user-select: none;
}

@keyframes Flash {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.game-grid.paused::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: all;
  border-radius: 7px;
}

.game-card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  pointer-events: none;
}

.game-options {
  display: flex;
  font-family: "StarWars", sans-serif;
  font-size: 18px;
  width: 100%;
  gap: 50px;
}

body[data-theme="dark"] .game-options {
  color: white;
}
body[data-theme="light"] .game-options {
  color: dark;
}

.game-options input[type="checkbox"] {
  display: none;
}

.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.options-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  min-width: 200px;
}

.options-title {
  color: rgb(255, 208, 0);
  margin: 0;
  letter-spacing: 2px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.custom-checkbox.disabled {
  opacity: 0.5; /* Rend les cases semi-transparentes */
  cursor: not-allowed; /* Change le curseur pour indiquer que ce n'est pas cliquable */
}

.custom-checkbox.disabled input[type="checkbox"] {
  cursor: not-allowed;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  background: white;
}

.custom-checkbox input:checked + .checkmark {
  border-color: var(--check-color);
  background: white;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid var(--check-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translateY(-1px);
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
}
