@font-face {
  font-family: "StarWars";
  src: url("../assets/Logo/Starjedi.ttf") format("truetype");
}

.game-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0px;
}

.game-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body[data-theme="dark"] .game-grid-container {
  background-color: #1a1a1a;
}
body[data-theme="light"] .game-grid-container {
  background-color: #fff;
}

.controls-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.game-controls {
  display: flex;
  width: 90%;
  gap: 20px;
  font-size: 20px;
}

.reload-btn {
  margin-right: 15px;
  border-radius: 30px;
  font-size: 19px;
  border: none;
  padding: 6px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body[data-theme="light"] .reload-btn {
  color: white;
  background: #1a1a1a;
}
body[data-theme="dark"] .reload-btn {
  color: #1a1a1a;
  background: white;
}

body[data-theme="light"] .game-controls {
  color: black;
}

body[data-theme="dark"] .game-controls {
  color: white;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: repeat(4, 180px);
  gap: 10px;
  margin: 15px 0;
  position: relative;
}

.start-button {
  display: flex;
  padding: 12px 24px 17px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: black;
  box-shadow: 0 0 15px #00000000;
  border: 3px solid #ffcc00;
  font-family: "StarWars", sans-serif;
  -webkit-text-stroke: 2px #ffcc00; /* Contour noir */
  color: #000000;
  font-size: 37px;
  letter-spacing: 5px;
}

.start-button:hover {
  color: #ffcc00;
}

.start-button {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.game-grid.paused::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: all;
  border-radius: 7px;
}

.game-card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  pointer-events: none;
}

.game-options {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: center;
  font-family: "StarWars", sans-serif;
  font-size: 18px;
  flex-direction: column;
}

body[data-theme="dark"] .game-options {
  color: white;
}
body[data-theme="light"] .game-options {
  color: dark;
}

.game-options input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.custom-checkbox.disabled {
  opacity: 0.5; /* Rend les cases semi-transparentes */
  cursor: not-allowed; /* Change le curseur pour indiquer que ce n'est pas cliquable */
}

.custom-checkbox.disabled input[type="checkbox"] {
  cursor: not-allowed;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  background: white;
}

.custom-checkbox input:checked + .checkmark {
  border-color: var(--check-color);
  background: white;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid var(--check-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translateY(-1px);
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
}
