.game-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0px;
}

.game-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body[data-theme="dark"] .game-grid-container {
  background-color: #1a1a1a;
}
body[data-theme="light"] .game-grid-container {
  background-color: #fff;
}

.controls-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.game-controls {
  display: flex;
  width: 90%;
  gap: 20px;
  font-size: 20px;
}

body[data-theme="light"] .game-controls {
  color: black;
}

body[data-theme="dark"] .game-controls {
  color: white;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: repeat(4, 180px);
  gap: 10px;
  margin: 15px 0;
}

.game-card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  pointer-events: none;
}

.game-options {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

body[data-theme="dark"] .game-options {
  color: white;
}
body[data-theme="light"] .game-options {
  color: dark;
}

.game-options input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  background: white;
}

.custom-checkbox input:checked + .checkmark {
  border-color: var(--check-color);
  background: white;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid var(--check-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
}
